.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  text-decoration-skip-ink: none;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  gap: 33px;
  align-items: flex-start;
  list-style: circle;
  color: #000;
}

.header__links-list {
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.address {
  display: flex;
  grid-template-columns: 1fr;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  font-style: normal;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address__link {
  text-decoration: underline;
  text-underline-position: under;
}

.address__place {
  text-decoration: none;
  text-underline-position: under;
}

.cover {
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
  padding-top: 20px;
}

.cover__description {
  display: flex;
  gap: 107px;
  z-index: 1;
  padding-top: 106px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 1.16rem;
  padding-top: 12px;
}

.bet-button {
  align-items: start;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin: 0 24px 120px 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 47px;
}

.lots__card-list {
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card__link {
  height: 100%;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
  padding: 48px 40px 0 40px;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  font-style: Bold;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  padding: 0 40px 48px 40px;
  display: flex;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-underline-position: under;
  padding: 30px 0 0 40px;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  margin: 120px 24px 0px 24px;
  gap: 25px;
}

.about__column-logo {
  padding-top: 35px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__column-title {
  padding-top: 136px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.strange__lots {
  margin-bottom: 24px;
  margin-top: 100px;
}

.footer {
  margin-top: 180px;
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  text-decoration-skip-ink: none;
}

.footer__address {
  max-width: 264px;
  justify-self: start;
}

.footer__menu {
  display: flex;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  flex-direction: column;
  width: 163px;
  height: 64px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  width: 240px;
  list-style: none;
  display: flex;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}
